body {
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

h1{
  font-weight: 400;
  font-size: 52px;
  border-bottom: solid 13px;
  border-radius: 10px;
  display: inline;
  text-align: center;
  padding-left: 30px;
  vertical-align: top;
}


h2 {
  font-weight: 200;
  font-size: 33px;
  padding-left: 125px;
  padding-top: 35px;
  text-align: left;
  border-left: solid #727272;
  border-left-style: inset;
}

.subh {
  font-size: 15px;
  font-weight: 100;
  vertical-align: center;
  display: inline;
}

.button {
  padding-right: 20px;
}
