body{
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

ul{
  list-style: none;
}

h1{
  font-size: 100px;
  letter-spacing: 30px;
  display: inline
  text-align: center;
  padding-left: 90px;
}


/*header*/
header nav, header div{
  display: inline-block;
}

header img{
  width: 4%;
}
/*main*/


