body{
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  list-style: none;
}

/*main*/
#main h1{
  font-size: 150px;
  letter-spacing: 30px;
  display: inline
  text-align: center;
  padding-left: 90px;
}

.slash {
  font-size: 190px;
vertical-align: sub;
}

.dvide {
  top: -25px;
}
